---
import data from '../../package.json';
import Window from './window.astro';
---

<div class="about" style="display: none" x-show="about" x-transition>
  <Window title="Über StaticBook" close="toggleAbout">
    <div class="about-sheet">
      <p class="about-sheet_version">Version {data.version}</p>
      <hr class="about-sheet_divider">
      <a class="about-owner" href="https://schmidt-joer.com/" target="_blank" rel="noopener noreferrer">
        <img class="about-owner_logo" src="/assets/icons/logo_schmidt-joer.svg" alt="">
        <span class="about-owner_name">Schmidt & Joer</span>
      </a>
    </div>
  </Window>
</div>

<style lang="scss">
  .about {
    backdrop-filter: blur(.125rem);
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: grid;
    place-content: center;

    &-sheet {
      line-height: 1rem;
      display: grid;
      justify-items: center;
      gap: .75rem;

      &_divider {
        width: 100%;
        height: .0625rem;
        background: var(--c-020);
      }
    }

    &-owner {
      display: flex;
      gap: .5rem;
      line-height: 1rem;

      &_logo {
        width: 1rem;
      }
    }
  }
</style>