---
import Icon from "./icon.astro";

const { on, label, icon } = Astro.props;
---

<button class="action" x-data={`{label: '${label}'}`} x-on:click={on}>
  {icon && <Icon type={icon} />}
  <span x-show="label" x-text="label" class="action_label">{label}</span>
</button>

<style lang="scss">
  .action {
    width: 100%;
    display: flex;
    gap: .5rem;
    padding: .5rem;
    border-radius: .375rem;
    transition: background-color 150ms;

    &:hover,
    &:focus {
      background: var(--c-010);
    }

    &:focus {
      outline: .125rem solid var(--c-020);
    }

    :global(svg) {
      color: var(--c-060);
    }

    &_label {
      line-height: 1rem;
    }
  }
</style>