--- 
import About from "./about.astro";
import { de } from "../data/translation.json";
---

<footer class="footer">
  <button class="footer-button" x-on:click="toggleAbout">{de.about.title}</button>
  <About/>
</footer>

<style lang="scss">
  .footer {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    padding: .75rem;

    @media print {
      display: none;
    }

    &-button {
      color: var(--c-060);
    }
  }
</style>