---
import Icon from "./icon.astro";

const { icon, title, frontmatter, url } = Astro.props;
---

<a class="link" href={url || '/'}>
  {icon && <Icon type="hash" />}
  <span class="link_label">{frontmatter?.title || title}</span>
</a>

<style lang="scss">
  .link {
    display: flex;
    gap: .5rem;
    padding: .5rem;
    border-radius: .375rem;
    transition: background-color 150ms;

    &:hover,
    &:focus {
      background: var(--c-010);
    }

    &:focus {
      outline: .125rem solid var(--c-020);
    }

    :global(svg) {
      color: var(--c-060);
    }

    &_label {
      line-height: 1rem;
    }
  }
</style>